.active > .page-link, .page-link.active {
    z-index: 3;
    color: white !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.page-link {
    color: #333333 !important;
    font-weight: bold;
}

.searchInputContainer {
    display: flex;
    align-items: flex-end;
}

.searchInput {
    width: auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 3rem;
}

.searchInput:focus {
    border-bottom-color: #FF5733;
}

.topShopSection {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropDownButtons {
    display: flex;
    justify-content: space-between;
}

.inputClearButton {
    border-radius: 5px;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.noResultsMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: orangered;
}

.row {
    justify-content: center;
}

@media (max-width: 1200px) {
    .topShopSection {
        flex-direction: column;
    }

    .dropDownButtons {
        margin-top: 1rem;
    }
}

@media (max-width: 500px) {
    .dropDownButtons {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
}

@media (max-width: 400px) {
    .searchInputContainer {
        flex-direction: column;
        align-items: center;
    }

    .searchInput {
        margin-left: 0;
    }
}
