.cardProductCart {
    display: flex;
    flex-direction: row !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px !important;
    box-shadow: 0 4px 20px 0 var(--myBlack);
    transition: all 0.2s ease-in-out;
}

.cardProductCart:hover {
    scale: 1.005;
    box-shadow: 0 4px 30px 0 var(--myBlack);
}

.imageAndQuantityControlContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
}

.quantityControls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quantityControl {
    font-size: 30px;
    border: none;
    margin-bottom: 0.3rem;
    background: transparent;
}

.quantityControl svg {
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    color: var(--myBlack);
}

.quantityControl:hover svg {
    color: var(--myGreenBlue);
    background-color: var(--myBlack);
    border-radius: 50%;
}

.quantityText {
    font-weight: bold;
    font-size: 25px;
}

.cardProductCart {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cardProductCart .card-img {
    max-height: 140px;
    max-width: 140px;


    object-fit: contain;
}

.cardProductCart .card-title {
    font-style: italic;
    font-size: 22px;
}

.cardProductCart .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px !important;
}

.cardProductCart .cardBody {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

.cardProductCart .cartSingleLine{
    font-size: 1.25rem;
    font-weight: bolder;
    margin-top: 0.25rem;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--myBlack);
    color: var(--myWhite);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.closingModalButton {
    border: 2px solid var(--myWhite);
    border-radius: 6px;
    background-color: var(--myBlack);
    color: var(--myWhite);
    display: flex;
    padding: 7px;
    transition: all 0.4s ease;
}

.closingModalButton:hover {
    border-color: var(--myGreenBlue);
    background-color: var(--myBlack);
    color: var(--myGreenBlue);
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartProductTotal {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.orderButtonCart {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--myWhite) !important;
    z-index: 1;
    background: var(--myBlack);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px var(--myWhite);
    box-shadow: 0px 1px 20px 4px var(--myWhite);
    transition: all 250ms;
    overflow: hidden;
    outline: none;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.orderButtonCart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--myWhite);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms;
}

.orderButtonCart:hover {
    color: var(--myBlack);
}

.orderButtonCart:hover::before {
    width: 100%;
}

.orderButtonCart:hover span {
    color: var(--myBlack);
}

.emptyCartMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyCartButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.emptyCartButton {
    color: var(--myWhite) !important;
    background-color: var(--myRed) !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 12px !important;
    border-radius: 14px !important;
    scale: 1;
    transition: all 0.3s ease-in-out !important;
    border: none !important;
    box-shadow: 0 2px 14px var(--myBlack);
}

.emptyCartButton:hover {
    scale: 1.02;
    box-shadow: 0 2px 18px var(--myBlack);
}

@media (max-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 900px !important;
    }
}

@media (max-width: 680px) {
    .cartProductTotal {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .cardProductCart {
        display: flex;
        flex-direction: column !important;
    }

    .quantityControls {
        justify-content: center;
    }

    .cardProductCart .card-body {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .cardProductCart .cartSingleLine .keyColorInfo{
        background-color: transparent;
        margin-right: 0 !important;
        padding-right: 0;
    }

    .cardProductCart .cartSingleLine span .removeText{
        display: none;
    }

    .emptyCartMessage {
        flex-direction: column;
        text-align: center;
    }
}