.personalData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--myWhite);
    font-family: "Inter", sans-serif;
}

.namesContainer, .emailAndPhoneContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.addressData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--myWhite);
    font-family: "Inter", sans-serif;
    margin-top: 1rem;
}

.detailedAddressData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--myWhite);
    font-family: "Inter", sans-serif;
    margin-top: 1rem;
}

.countryAndTown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1%;
}

.countryInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.townInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 66%;
}

.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48%;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 1;
    left: 12px;
    bottom: 13px;
}

.input_label {
    font-size: 14px;
    color: var(--myBlack);
    font-weight: bold;
    padding-left: 0.4rem;
    padding-bottom: 0.2rem;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 12px;
    outline: none;
    border: 2px solid var(--myBlack);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border-color: transparent;
    box-shadow: 0px 0px 10px var(--myGreenBlue);
}

.radio-inputs {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px;
}

.radio-input:checked + .radio-tile {
    border-color: orangered;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: orangered;
}

.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: orangered;
    border-color: orangered;
}

.radio-input:focus + .radio-tile {
    border-color: orangered;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 12px;
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid orangered;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: orangered;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.courierLogoImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.deliveryType {
    display: flex;
}

.deliveryType .radio-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    position: relative;
    align-items: center;
    color: #333333;
    transition: all 0.2s ease-in-out;
}

.deliveryType .radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.deliveryType .radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
}

.deliveryType .radio::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: orangered;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.deliveryType .radio-button input[type="radio"]:checked + .radio {
    border-color: orangered;
    transform: translateZ(0px);
    background-color: #fff;
}

.deliveryType .radio-button input[type="radio"]:checked + .radio::before {
    opacity: 1;
}

.radio-button:hover {
    scale: 1.02;
    cursor: pointer;
}

.detailedAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addressContainer {
    width: 98%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.customModalPosition {
    background-color: rgba(0, 0, 0, 0.3);
}

.successColor {
    color: #7af87a;
}

.modalIcon {
    font-size: 70px;
}

.errorColor {
    color: orangered;
}

.input_field::-webkit-scrollbar {
    width: 12px;
    border-radius: 30px;
    padding-right: 2rem;
    margin-right: 2rem;
}

.input_field::-webkit-scrollbar-track {
    background-color: var(--myBlack);
    border-radius: 30px;
}

.input_field::-webkit-scrollbar-thumb {
    background-color: var(--myGreenBlue);
    border-radius: 30px;
    height: 100px;
}

.orderNumberBox {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--myBlack);
    color: var(--myWhite);
    padding: 1rem;
    border-radius: 20px;
}

.clipboardButton {
    border: none !important;
    background: transparent !important;
}

.clipboardButton:hover {
    color: orangered !important;
}

.disclaimer {
    margin-top: 0.2rem;
    font-size: 12px;
    color: #565656;
}

option {
    font-weight: 600;
}

option:checked {
    background-color: var(--myGreenBlue) !important;
    color: var(--myBlack);
}

@media (max-width: 1199px) {
    .modal-dialog {
        max-width: 1140px !important;
    }
}

@media (max-width: 870px) {
    .countryAndTown {
        flex-direction: column;
    }

    .countryInputContainer {
        margin-bottom: 1rem;
    }

    .countryInputContainer {
        margin-bottom: 1rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .emailAndPhoneContainer, .namesContainer {
        flex-direction: column;
    }

    .namesContainer .input_container {
        width: 100%;
        padding-left: 1.5%;
        padding-right: 1%;
        margin-bottom: 1rem;
    }

    .emailAndPhoneContainer .input_container {
        width: 100%;
        padding-left: 1.5%;
        padding-right: 1%;
        margin-bottom: 1rem;
    }

    .personalData {
        gap: 0;
    }

    .addressData {
        margin-top: 0;
    }

    .input_container .icon{
        left: 20px;
        bottom: 12px;
    }

}