.whyContainer {
    margin-bottom: 2rem;
    background-color: #333333;
    color: white;
    text-align: center;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textLine {
    width: 5%;
    border: 4px solid red;
    border-radius: 16px;
}

.whyContentContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem 2rem 3rem 1rem;
}

.whyContent {
    width: 160px;
}

.whyContent:hover .whyIcon {
    color: orangered;
}

.whyContent h5 {
    font-weight: bold;
}

.whyIcon {
    margin-bottom: 1rem;
    font-size: 70px !important;
    transition: 0.3s ease;
}


.whyIcon.rotateIcon {
    rotate: 45deg;
}