.contactModalBody {
    display: flex;
    align-items: flex-start !important;
}

.contactModalBody .trackOrderInput{
    color: var(--myBlack) !important;
    background-color: var(--myWhite);
    font-weight: bolder;
}

.contactModalBody .trackOrderInput::placeholder {
    color: var(--myBlack) !important;
    opacity: 1 !important;
}

.textArea {
    height: 250px;
    max-height: 250px;
    resize: none;
    border-radius: 10px;
}

.textArea::-webkit-scrollbar {
    width: 12px;
    border-radius: 30px;
    padding-right: 2rem;
    margin-right: 2rem;
}

.textArea::-webkit-scrollbar-track {
    background-color: var(--myBlack);
    border-radius: 30px;
}

.textArea::-webkit-scrollbar-thumb {
    background-color: var(--myGreenBlue);
    border-radius: 30px;
    height: 100px;
}

.sendEmail {
    font-family: inherit;
    font-size: 18px;
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    color: var(--myBlack);
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.sendEmail:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.sendEmail:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sendEmail span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
    font-weight: bold;
}

.sendEmail svg {
    width: 18px;
    height: 18px;
    transition: all 0.3s;
}

.sendEmail .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.sendEmail:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.sendEmail:hover svg {
    transform: rotate(45deg);
}

.modal-footer{
    border: none !important;
}