.achContainer {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: var(--myWhite);
}

.achContainer .leftSide {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.achContainer .rightSide {
    width: 58%;
    height: 360px;
    margin-top: 2.5rem;
}

.sliderButton {
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
}

.sliderButton .circleContent {
    background-color: var(--myGreenBlue);
    border-radius: 50%;
    padding: 1rem;
    color: var(--myBlack);
}

.sliderButton .contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.contentText .number {
    color: var(--myGreenBlue);
    font-size: 22px;
    font-weight: bold;
}

.contentText .text {
    font-size: 24px;
    font-weight: bold;
    color: var(--myWhite) !important;
}
