.linkUnderline {
    text-decoration: none;
}

.shopCardBody {
    flex: none !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 0.5rem !important;
}

.cardTitle {
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.cardFooter {
    background-color: white !important;
    border: none !important;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.shopCard {
    transition: all 0.3s ease-in-out;
}

.shopCard.card {
    border: none !important;
}

.shopCard:hover {
    scale: 1.025;
    box-shadow: 0px 14px 18px rgb(51, 51, 51);
    cursor: pointer;
    border-radius: 25px;
}

.cardImageContainer {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.discountText {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px;
    font-style: italic;
    font-weight: bolder;
    color: var(--myGreenBlue);
    font-size: 20px;
    background-color: var(--myBlack);
    border-radius: 15px;
}

.cardImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.cardText {
    display: flex;
    flex-direction: column;
}

.cardCategory {
    height: 30px;
    max-height: 30px;
    overflow: hidden;
}

.keyColorInfo {
    color: var(--myWhite);
    background-color: var(--myBlack);
    border-radius: 16px;
    font-size: 19px;
    padding: 1px 10px 3px 1px;
}

.keyColorInfo svg {
    color: var(--myGreenBlue);
    font-size: 24px;
    padding: 4px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #333;
    background: var(--myBlack);
}

.cardDescription {
    height: 94px;
    max-height: 100px;
    overflow: hidden;
    color: var(--myBlack) !important;
    font-size: 15px !important;
    background-color: var(--myWhite) !important;
}

.baseInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 138px;
}

.strikeText {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--myBlack);
}

.detailsButton {
    display: flex !important;
    align-items: center !important;
    transition: color 0.4s ease;
    font-weight: bold !important;
    border-radius: 26px !important;
    font-size: 18px !important;
    background-color: var(--myBlack) !important;
    color: var(--myWhite) !important;
}

.detailsButton:hover {
    color: var(--myBlack) !important;
    background-color: var(--myWhite) !important;
    border-color: var(--myBlack) !important;
}

@media (max-width: 1030px) {
    .shopCard {
        box-shadow: 0px 14px 18px rgb(51, 51, 51);
        border-radius: 25px !important;
    }

    .shopCard:hover {
        scale: 1;
        cursor: default;
        box-shadow: 0px 14px 18px rgb(51, 51, 51);
        border-radius: 25px !important;
    }

    .cardTitle {
        text-align: center;
    }
    
    .cardText{
        font-size: 15px;
    }

    .keyColorInfo{
        font-size: 15px;
    }

    .keyColorInfo svg{
        font-size: 21px;
    }
}

@media (max-width: 550px) {
    .cardText{
        font-size: 13px;
    }

    .keyColorInfo{
        font-size: 15px;
    }

    .keyColorInfo svg{
        font-size: 17px;
        margin-top: 0.1rem;
    }

    .detailsButton{
        font-size: 18px !important;
    }
}