.searchInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 90%;
}

.searchInput {
    width: 100%;
    padding: 0.6rem 0.6rem 0.6rem 1.5rem;
    font-size: 20px;
    border: 3px solid #333;
    border-radius: 25px;
    transition: all 0.3s ease;
    outline: none;
    background-color: #ffffff;
    color: #333333;
    font-weight: bolder;
}

.searchInput::placeholder {
    color: black;
    font-style: italic;
}

.searchInput:focus {
    box-shadow: 0 5px 30px rgb(51, 51, 51);
}

.inputClearButton{
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.deleteSearchIcon{
    font-size: 50px;
}

.inputClearButton:hover{
    color: orangered;
    scale: 1.05;
}