.trackOrderModal .modal-content {
    color: var(--myWhite);
}

.trackOrderModal .modal-content {
    border-radius: 30px !important;
}

.trackOrderModal .modal-body, .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trackOrderInput {
    width: 100%;
    border-radius: 16px;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.trackOrderButtonSubmit {
    border: 2px solid var(--myWhite) !important;
    border-radius: 10px !important;
    background-color: var(--myBlack) !important;
    color: var(--myWhite) !important;
    box-shadow: 0 1px 18px 0 var(--myWhite);
}

.trackOrderButtonSubmit:hover {
    border: 2px solid var(--myWhite) !important;
    background-color: var(--myWhite) !important;
    color: var(--myBlack) !important;
}

.recoverEmailButton {
    border: 2px solid var(--myGreenBlue) !important;
    border-radius: 10px !important;
    background-color: var(--myBlack) !important;
    color: var(--myGreenBlue) !important;
    box-shadow: 0 1px 18px 0 var(--myGreenBlue);
}

.recoverEmailButton:hover {
    border: 2px solid var(--myGreenBlue) !important;
    background-color: var(--myGreenBlue) !important;
    color: var(--myBlack) !important;
}

.recoverModal {
    color: var(--myWhite);
}

.darkerBackground {
    background-color: rgba(0, 0, 0, 0.3);
}

.infoColor{
    color: #00CED1;
}
