.executeButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #333;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.executeButton:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: orangered;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.executeButton:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.executeButton span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 14px 20px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.executeButton:hover span {
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.actionsContainer{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    box-shadow: 0px 10px 20px  rgb(51, 51, 51);
    border-radius: 30px;
    margin-top: 2rem;
}

.progress{
    width: 100%;
}

.executeButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}