.productSection {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.productContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 3rem 0;
    width: 100%;
}

.leftSection {
    width: 65%;
    padding: 2rem 1rem 2rem 2rem;
}

.productCard {
    display: flex;
    width: 100%;
    box-shadow: 0 10px 20px var(--myBlack);
    border-radius: 40px 30px 30px 30px;
    height: auto;
    min-height: 640px;
    max-height: 640px;
    align-items: center;
    padding: 3rem;
}

.doughnutChartContainer {
    margin-left: 1rem;
    height: 60px;
    max-width: 60px;
    display: flex;
    background-color: var(--myBlack);
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 4px solid var(--myBlack);
}

.doughnutChartContainer p {
    margin-bottom: 0 !important;
    color: var(--myWhite);
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    align-items: center !important;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.imageContainer {
    position: relative;
    margin-right: 1.5rem;
}

.imageContainer img {
    max-width: 300px;
}

.doughnutText {
    min-width: 280px;
    background-color: var(--myBlack);
    min-height: 60px;
    color: var(--myWhite);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.rightSection {
    width: 35%;
    padding: 2rem 2rem 2rem 1rem;
}

.productDescription {
    width: 100%;
    height: auto;
    max-height: 640px;
    padding: 1.5rem;
    overflow-y: auto;
    box-shadow: 0 10px 20px var(--myBlack);
    border-radius: 30px 10px 10px 30px;
    font-size: 18px;
}

.productDescription img {
    max-width: 100%;
    object-fit: contain;
}

.productDescription iframe {
    max-width: 486px;
}

.productDescription::-webkit-scrollbar {
    width: 12px;
    border-radius: 30px;
    padding-right: 2rem;
    margin-right: 2rem;
}

.productDescription::-webkit-scrollbar-track {
    background-color: var(--myBlack);
    border-radius: 30px;
}

.productDescription::-webkit-scrollbar-thumb {
    background-color: var(--myGreenBlue);
    border-radius: 30px;
    height: 100px;
}

.productText {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.productText h3 {
    height: 60px;
    display: flex;
    align-items: flex-end;
}

.singleLineText {
    font-weight: bolder;
}

.tastes {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.dropDownButton {
    background-color: var(--myBlack) !important;
    color: var(--myWhite) !important;
}

.barChart {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.chartStars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 30px;
}

.oneStar, .twoStar, .threeStars, .fourStars, .fiveStars {
    display: flex;
    height: 27px;
    align-items: center;
    font-size: 25px;
}

.addButton {
    width: 100%;
}

.addButtonContainer {
    margin-top: 1.5rem;
}

.addButtonContainer button {
    width: 100%;
    height: 60px;
    border: 3px solid var(--myBlack);
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
    background: var(--myWhite);
    font-size: 20px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
}

.addButtonContainer button:hover {
    background: var(--myBlack);
    color: var(--myWhite) !important;
    font-size: 24px;
}

button:focus:not(:focus-visible) {
    color: var(--myBlack);
}

.productNotSelectedError {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.singleProductSwiper {
    padding: 3rem;
}

.singleProductSwiper .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.singleProductSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 30%;
    box-shadow: 0 10px 20px var(--myBlack);
    border-radius: 30px;
}

.singleProductSwiper .swiperCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleProductSwiper .swiper-slide img {
    width: 30%;
    align-items: center;
    border-radius: 30px;
}

.singleProductSwiper .singleProductText {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.singleProductSwiper .singleProductText h4 {
    font-weight: bolder;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
}

.singleProductSwiper .loadSingleProductButtonContainer {

}

.loadSingleProductButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.swiper-pagination-bullet {
    background-color: var(--myBlack) !important;
    opacity: 1 !important;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    background-color: var(--myGreenBlue) !important;
    opacity: 1 !important;
}

.disabled-dropdown-item {
    color: gray !important;
}

.modal-header {
    border: none !important;
}

@media (min-width: 1920px) {
    .productSection {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1650px) {
    .productContainer {
        flex-direction: column;
    }

    .leftSection {
        width: 90%;
        padding: 1rem;
    }

    .rightSection {
        width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 1200px) {
    .productCard {
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 1040px;
        align-items: center;
        justify-content: center;
        padding: 0 0 1rem;
        position: relative;
    }

    .imageContainer {
        margin: 0;
    }

    .imageContainer img {
        max-width: 300px;
        max-height: 300px;
    }

    .productText {
        width: 70%;
    }

    /*.singleLineText .keyColorInfo {*/
    /*    padding: 0;*/
    /*    border-radius: 0;*/
    /*    background-color: transparent;*/
    /*    border-radius: 4px;*/
    /**/
    /*}*/
    .singleLineText .keyColorInfo svg {
        /*color: var(--myGreenBlue);*/
        /*padding: 2px;*/
        /*border-radius: 0;*/
        /*outline: none;*/
        /*border: none;*/
        /*background: none;*/
    }

    .removeText {
        /*display: none;*/
        /*margin: 0 !important;*/
    }

}

@media (max-width: 1150px) {
    .singleProductSwiper .swiper-slide {
        box-shadow: none;
    }
}

@media (max-width: 950px) {
    .barChart canvas {
        width: 200px !important;
    }
}

@media (max-width: 900px) {
    .singleProductSwiper .swiper {
        padding-bottom: 1.5rem;
    }

    .tastes {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .tastes .dropdown {
        margin-top: 0.5rem;
    }

    .doughnutChartContainer {
        margin-top: 3.5rem;
    }

    .addButtonContainer {
        margin-top: 4rem;
    }
}

@media (max-width: 700px) {
    .singleProductSwiper .swiperCard {
        flex-direction: column;
    }

    .productSwiperTitle {
        justify-content: center;
    }

}

@media (max-width: 660px) {
    .productCard {
        min-height: 1250px;
    }

    .singleLineText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .barChart canvas {
        width: 150px !important;
    }

    .tastes {
        flex-direction: column;
    }

    .tastes .dropdown {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .doughnutChartContainer {
        top: -45px;
        left: -40px;
    }
}

@media (max-width: 550px) {
    .barChart {
        display: none;
    }

    .productCard {
        min-height: 1050px;
    }

    .productContainer {
        padding: 1rem 0 0;
    }

    .doughnutChartContainer {
        top: -44px;
    }
}

@media (max-width: 450px) {
    .singleLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .doughnutChartContainer {
        top: -45px;
        left: 10px;
        max-width: 40px;
        height: 50px;
    }

    .doughnutText {
        min-width: 200px;
        min-height: 50px;
    }
}

@media (max-width: 350px) {
    .leftSection {
        padding: 0;
    }

    .singleLineText {
        align-items: center;
    }

    .tastes {
        align-items: center;
    }
}
