.table-container {
    box-shadow: 0 10px 20px rgb(51, 51, 51);
    border-radius: 30px;
    padding: 0.8rem;
    background-color: #212529;
    outline: none;
}

.tableWrapper{
    height: 480px;
    overflow: auto;
    border-radius: 30px;
}

.tableWrapper::-webkit-scrollbar{
    width: 0;
}

.tableWrapper .table{
    text-align: center;
    font-weight: bolder;
    outline: none;
}

.imageTable img{
    height: 25px;
}

.imageTable{
    display: flex;
}

.table-container .buttonCustomClass{
    color: white;
    transition: color 0.4s ease-in-out;
}

.table-container .buttonCustomClass:hover{
    color: orangered;
}

.table-container {
    box-shadow: 0 10px 20px rgb(51, 51, 51);
    border-radius: 30px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 2rem !important;
    background-color: #212529;
    outline: none;
    width: 100%;
}

.tableWrapper {
    height: 480px;
    overflow: auto;
    border-radius: 30px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

}

.tableWrapper::-webkit-scrollbar {
    width: 0;
}

.tableWrapper .table {
    text-align: center;
    font-weight: bolder;
    outline: none;
}

.tableTopSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    color: white;
    font-style: italic;
}

.tableSearchInputContainer {
    width: 40%;
}

.orderInfo{
    display: flex;
    justify-content: space-evenly;
}

.orderInfo .orderUserInfo, .orderAddressInfo {
    display: flex;
    flex-direction: column;
}

.pending {
    color: #FFD700 !important;
}

.approved {
    color: #00CED1 !important;
}

.in-delivery {
    color: #1E90FF !important;
}

.completed {
    color: #00FF00 !important;
}

.canceled {
    color: #FF6347 !important;
}