.navbarContainer {
    background-color: var(--myBlack);
    color: var(--myBlack);
    height: 60px;
}

.navbar > .container-fluid {
    max-width: 2050px;
}

.navbar-brand {
    width: 100px;
}

.headerLogo {
    transition: color 0.3s ease-in-out;
    color: var(--myWhite);
    display: flex;
    font-weight: bolder;
    align-items: center;
}

.headerLogo:hover {
    color: var(--myGreenBlue);
    cursor: pointer;
}

.headerImage {
    width: 24px;
    margin-right: 6px;
    transition: all 0.4s ease-in-out;
}

.headerLogo:hover .headerImage {
    margin-right: 10px;
}

.navLinkContent {
    display: flex;
    align-items: center;
    font-weight: bolder;
    transition: color 0.2s ease-in-out;
    font-size: 17px;
    margin-left: 1rem;
    color: var(--myWhite);
}

.navLinkContent:hover {
    color: var(--myGreenBlue);
}

.cartItemCount {
    background-color: var(--myGreenBlue);
    color: var(--myBlack);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.navDropDownTitle {
    font-weight: bolder;
    transition: color 0.2s ease-in-out;
    font-size: 17px;
    margin-left: 1rem;
    color: var(--myWhite);
}

#offcanvasNavbarDropdown-expand-lg {
    color: var(--myWhite);
}

#offcanvasNavbarDropdown-expand-lg:hover {
    color: var(--myGreenBlue);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler .collapsed {
    color: var(--myWhite);
    border-color: var(--myWhite);
    transition: all 0.2s ease-in-out;
}

[type=button]:not(:disabled) {
    border: 2px solid var(--myWhite);
}

.navbar-toggler:focus {
    box-shadow: none;
    border-color: var(--myGreenBlue);
}

button:focus:not(:focus-visible) {
    color: var(--myWhite);
}

.offcanvas-header {
    background-color: var(--myBlack);
    color: var(--myWhite);
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}


.offcanvas-body {
    background-color: var(--myBlack);;
}

.navDropDownItem {
    display: flex !important;
    align-items: center;
}
