.carouselContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    max-height: 500px;
    margin-bottom: 4rem;
    overflow: hidden;
    background-color: var(--myBlack);
    box-shadow: 0px 10px 30px 5px var(--myBlack);
}

.carousel {
    width: 50%;
}

.sliderImageContainer1 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-right: 2px solid #09ce85;
}

.sliderImageContainer1 .carouselTitle {
    position: absolute;
    font-size: 2.7vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    max-height: 576px;
    overflow-wrap: anywhere;
    word-break: break-word;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-style: italic;
    color: var(--myWhite);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.sliderImageContainer2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-left: 2px solid #09ce85;
}

.sliderImageContainer2 .carouselTitle {
    position: absolute;
    font-size: 2.7vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    max-height: 576px;
    overflow-wrap: anywhere;
    word-break: break-word;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-style: italic;
    color: var(--myWhite);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.sliderImage {
    max-width: 100%;
    object-fit: contain;
    filter: brightness(50%);
}

[data-bs-theme=dark].carousel .carousel-caption {
    color: white !important;
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon, [data-bs-theme=dark].carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: none !important;
}

@media (max-width: 800px) {
    [data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon, [data-bs-theme=dark].carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon {
        opacity: 0;
    }
}

@media (min-width: 1920px) {
    .carouselTitle{
        font-size: 50px !important;
    }
}
