.orderDetails {
    display: flex;
    margin: 1rem 1% 1.5rem;
}

.orderDetailsText {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.addressModalSingleLine {
    font-weight: bolder;
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.buttonBox .orderContent {
    font-size: 50px;
    display: flex !important;
    width: 100%;
    justify-content: space-evenly;
    color: var(--myGreenBlue);
    background-color: var(--myBlack);
    border-radius: 20px;
    padding: 0.5rem 0;
    box-shadow: 0 0 10px var(--myBlack);
}

.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 14rem;
    height: auto;
    transition: opacity 0.2s ease;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #333333;
    border-radius: 1.625rem;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #333333;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
    color: #fff;
}

.learn-more.disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.learn-more.disabled .circle {
    background: #ccc;
}

.learn-more.disabled .button-text {
    color: #999;
}

.buttonBox .switch input {
    display: none;
}

.buttonBox .switch {
    width: 60px;
    height: 30px;
    position: relative;
}

.buttonBox .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px var(--myBlack), 0 0 4px var(--myBlack);
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
}

.buttonBox .slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--myBlack);
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.2s;
}

.buttonBox input:checked + .slider:before {
    transform: translateX(30px);
    background-color: var(--myGreenBlue);
}

.termAndCondsBox {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 0.7rem;
    padding-right: 1rem;

}

.buttonBox input:checked + .slider {
    box-shadow: 0 0 0 2px var(--myGreenBlue), 0 0 8px var(--myGreenBlue);
}

.buttonBox .switch200 .slider:before {
    width: 200%;
    transform: translateX(-82px);
}

@media (max-width: 1300px) {
    .orderDetailsText {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .orderDetailsText {
        width: 55%;
    }

    .buttonBox {
        width: 45%;
    }
}

@media (max-width: 830px) {
    .orderDetails {
        flex-direction: column;
        align-items: center;
    }

    .orderDetailsText {
        width: 100%;
    }

    .buttonBox {
        margin-top: 1rem;
        width: 100%;
    }

    .buttonBox .learn-more {
        margin-top: 1rem;
    }

    .termAndCondsBox {
        justify-content: center;
    }

    .termAndCondsBox h5 {
        margin-right: 2rem;
    }

    .termAndCondsBox label {
        margin-left: 2rem;
    }
}

@media (max-width: 500px) {
    .addressModalSingleLine {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .addressModalSingleLine .keyColorInfo {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0 !important;
    }

    .customMarginSpacing {
        width: 100%;
        text-align: center;
        background-color: var(--myGreenBlue);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 420px) {
    .addressModalSingleLine .keyColorInfo {
        text-align: center;
    }

    .termAndCondsBox {
        flex-direction: column;
    }

    .termAndCondsBox h5 {
        text-align: center;
        margin: 0;
    }

    .termAndCondsBox label {
        margin-top: 0.8rem;
        margin-left: 0;
    }

}