.active > .page-link, .page-link.active {
    z-index: 3;
    color: white !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.page-link {
    color: #333333 !important;
    font-weight: bold;
}

.topShopSection {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.visible {
    display: block;
}

.noResultsMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 50px;
    color: orangered;
    height: 100vh;
}

.row {
    justify-content: center;
}
