.pending {
    color: #FFD700 !important;
}

.approved {
    color: #00CED1 !important;
}

.in-delivery {
    color: #1E90FF !important;
}

.completed {
    color: #00FF00 !important;
}

.canceled {
    color: #FF6347 !important;
}
