.footerSection {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    align-items: center;
    flex-wrap: wrap;
}

.subFooter {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.footerLogoImage {
    width: 80px;
    color: white !important;
    fill: white !important;
    filter: brightness(0) invert(1);
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--myWhite);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
}

.logoLink:hover {
    color: var(--myGreenBlue);
    scale: 1.03;
}

.followUsColumn, .aboutColumn {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.columnTitle {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.columnContent {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 600;
    padding-left: 30px;
}

.columnContent:hover {
    color: var(--myGreenBlue);
}

.footerButton {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 16px;
    background: transparent;
    color: var(--myWhite) !important;
    font-weight: bolder;
    font-size: 18px;
    border: 2px solid var(--myWhite);
    transition: scale 0.5s ease;
    margin: 1rem;
}

.footerButton:hover {
    background-color: var(--myGreenBlue);
    box-shadow: 0px 0px 15px var(--myGreenBlue);
    border-color: var(--myGreenBlue);
    scale: 0.96;
    color: var(--myBlack) !important;
}

.footerButton:hover span {
    color: var(--myBlack) !important;
}

@media (max-width: 585px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .footerButton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 330px) {
    .footerButton {
        margin-left: 0;
        margin-right: 0;
    }
}