:root {
    --myGreenBlue: #0fffa4;
    --myBlack: #333333;
    --myWhite: #ffffff;
    --myRed: orangered;
}

.myGreenBlueColor {
    color: var(--myGreenBlue);
}

.myBlackColor {
    color: var(--myBlack);
}

.myWhiteColor {
    color: var(--myWhite);
}

.myRedColor {
    color: var(--myRed);
}