.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 5rem;
}

.faqTitle {
    margin-top: 4rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
}

.faqTitle span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.faqSortingButtons {
    display: flex;
    justify-content: center;
    width: 82%;
    flex-wrap: wrap;
}

.faqIconWrapper {
    margin-bottom: 4px;
    margin-right: 12px;
    background-color: var(--myBlack);
    padding: 10px;
    border-radius: 50%;
}

.faqIconWrapper svg {
    font-size: 20px;
    margin: 0 !important;
}

.customIcon {
    background-color: var(--myGreenBlue);
    border-radius: 50%;
}

.customIcon svg {
    scale: 1.2;
}

.faqContent {
    width: 80%;
}

.deliveryIconColor {
    color: #00bdff;
}

.productIconColor {
    color: var(--myGreenBlue);
}

.returnIconColor {
    color: orangered;
}

.privacyIconColor {
    color: #00ff00;
}

.paymentIconColor {
    color: limegreen;
}

.supportIconColor {
    color: yellow;
}

.faqButton {
    background-color: var(--myBlack);
    color: var(--myWhite) !important;
    font-size: 16px;
    padding: 6px 24px;
    font-weight: bold;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 30px 0 var(--myWhite);
    transition: all 0.2s ease-in-out;
    width: 160px;
}

.selectedFaqButton {
    background-color: var(--myBlack);
    color: var(--myWhite) !important;
    font-size: 16px;
    padding: 6px 24px;
    font-weight: bold;
    margin: 1rem;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 20px var(--myGreenBlue);
    width: 160px;
}

.faqSection .accordion-button {
    background-color: transparent;
    border: none;
}

.faqSection .accordion-item {
    border: 4px solid var(--myBlack) !important;
    border-radius: 18px !important;
}

.faqSection .accordion-button:not(.collapsed) {
    background-color: transparent;
    border-bottom: transparent;
}

.faqSection .accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
    color: var(--myBlack);
}

.faqSection .accordion {
    --bs-accordion-border-color: none;
}

.faqSection .accordion-body {
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.accBodyBorder {
    border: 1px solid var(--myBlack);
    opacity: 0.2;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 580px) {
    .faqTitle {
        flex-direction: column;
    }

    .faqTitle span {
        margin-top: 0.5rem;
    }
}